<div class="sticky">
  <div class="container">
    <nav class="nav ">
      
  
      <br>
      
      <button  style=" text-decoration: none; ">
        <a class="nav-link" routerLink="/deleteQuestion" >Delete Question</a>
      </button>
      <button  style=" text-decoration: none;">
        <a class="nav-link" routerLink="/questionsList" >Questions list</a>
      </button>
      <button   style="  text-decoration: none;">
        <a class="nav-link" routerLink="/searchQuestion" >Search Question</a>
      </button>
    </nav>
  </div>
  </div>
  <br><br>
  
  <table>
    <tr>
      <td>
        <button class="btn btn-warning " style=" text-decoration: none">
          <a routerLink="/createQuestion">Create Question</a>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn btn-warning " style=" text-decoration: none">
          <a routerLink="/updateQuestion" >Update Question</a>
        </button>
      </td>
    </tr>
  </table>